<script lang="ts">
  import { page } from '$app/stores';
  import { cn } from '$lib/utils.js';
  import { buttonVariants } from '$lib/components/ui/button';
  import FacebookLogo from 'svelte-awesome-icons/FacebookFBrand.svelte';
  import GithubLogo from 'svelte-awesome-icons/GithubBrand.svelte';
  import InstagramLogo from 'svelte-awesome-icons/InstagramBrand.svelte';
  import XLogo from 'svelte-awesome-icons/XTwitterBrand.svelte';

  import AvatarMenu from './avatar-menu.svelte';

  const navlinks = [
    { name: 'Home', href: '/' },
    { name: 'Blog', href: '/blog' },
    { name: 'Projects', href: '/projects' },
    { name: 'About', href: '/about' }
  ];

  const socials = [
    { name: 'Github', href: 'https://github.com/mjrdd', icon: GithubLogo },
    { name: 'Facebook', href: 'https://facebook.com/mjayardev', icon: FacebookLogo },
    { name: 'Twitter', href: 'https://x.com/mjayar95', icon: XLogo },
    { name: 'Instagram', href: 'https://instagram.com/mjayardev', icon: InstagramLogo }
  ];
</script>

<div class="grid min-h-lvh grid-rows-[4rem_1fr_auto]">
  <header
    class="sticky top-0 z-50 border-b border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
  >
    <div class="container flex h-16 items-center justify-between">
      <div class="flex space-x-8">
        <a href="/" class="font-bold">mjayar.com</a>
        <div class="hidden gap-4 sm:flex">
          {#each navlinks as { name, href }}
            <a {href} class="text-foreground/60 transition-colors hover:text-foreground/80">
              {name}
            </a>
          {/each}
        </div>
      </div>
      <div>
        <AvatarMenu data={$page.data.user} />
      </div>
    </div>
  </header>
  <slot />
  <footer class="mt-auto">
    <div
      class="container flex flex-col items-center justify-center gap-y-4 py-8 md:flex-row md:justify-between"
    >
      <div class="text-sm">
        <p>&copy; 2024 Mark Jay-ar Devilleres</p>
      </div>
      <div class="flex flex-wrap gap-2">
        {#each socials as { name, href, icon }}
          <a
            {href}
            target="_blank"
            rel="nofollow noopener noreferrer"
            class={cn(buttonVariants({ variant: 'ghost', size: 'icon' }), 'rounded-full')}
          >
            <span class="sr-only">{name}</span>
            <svelte:component this={icon} class="size-4" />
          </a>
        {/each}
      </div>
    </div>
  </footer>
</div>
