<script lang="ts">
  import { mode, resetMode, setMode } from 'mode-watcher';
  import { Avatar, Fallback, Image } from '$lib/components/ui/avatar';
  import {
    Content,
    DropdownMenu,
    Group,
    Item,
    Label,
    RadioGroup,
    RadioItem,
    Separator,
    Sub,
    SubContent,
    SubTrigger,
    Trigger
  } from '$lib/components/ui/dropdown-menu';
  import AccountIcon from 'svelte-radix/LockOpen1.svelte';
  import LogoutIcon from 'svelte-radix/Exit.svelte';
  import ProfileIcon from 'svelte-radix/Person.svelte';

  interface Props {
    data: Record<string, any>;
  }

  type Modes = Parameters<typeof setMode>[0];

  let { data }: Props = $props();

  function updateThemeMode(value?: string) {
    if (value === 'system') {
      resetMode();
    } else {
      setMode(value as Modes);
    }
  }
</script>

{#snippet AvatarComponent()}
  <Avatar>
    <Image src={data.avatar} alt="@{data.username}" />
    <Fallback>{data.email.slice(0, 2).toLocaleUpperCase()}</Fallback>
  </Avatar>
{/snippet}

<DropdownMenu>
  <Trigger>
    {@render AvatarComponent()}
  </Trigger>
  <Content class="w-56" align="end">
    <Label class="truncate">
      <div class="flex flex-col space-y-1">
        <p class="text-sm font-medium leading-none">{data.username}</p>
        <p class="text-xs leading-none text-muted-foreground">{data.email}</p>
      </div>
    </Label>
    <Separator />
    <Group>
      <Item href="/profile" class="gap-2">
        <ProfileIcon size="16" />
        Profile
      </Item>
      <Item href="/account" class="gap-2">
        <AccountIcon size="16" />
        Account
      </Item>
    </Group>
    <Separator />
    <Group>
      <Item href="/settings">Settings</Item>
      <Sub>
        <SubTrigger>Set theme</SubTrigger>
        <SubContent>
          <RadioGroup value={$mode} onValueChange={updateThemeMode}>
            <RadioItem value="light">Light</RadioItem>
            <RadioItem value="dark">Dark</RadioItem>
            <RadioItem value="system">System</RadioItem>
          </RadioGroup>
        </SubContent>
      </Sub>
    </Group>
    <Separator />
    <Item class="p-0">
      <form method="POST" action="/logout" class="contents">
        <button type="submit" class="flex size-full items-center gap-2 px-2 py-1.5 text-left">
          <LogoutIcon size="16" />
          Log out
        </button>
      </form>
    </Item>
  </Content>
</DropdownMenu>
