<script lang="ts">
  import { setContext } from 'svelte';

  import { Button } from '$lib/components/ui/button';
  import DataTable from './data-table/data-table.svelte';
  import CreateDialog from './create-dialog.svelte';
  import UpdateDialog from './update-dialog.svelte';

  let { data } = $props();

  let createDialog = $state({ open: false });
  let updateDialog = $state({ open: false, data: {} });

  let records = $state(data.data || []);
  let selectedDataIds = $state([]) as string[];

  setContext('createDialog', createDialog);
  setContext('updateDialog', updateDialog);
</script>

<svelte:head>
  <title>URL Shortener</title>
</svelte:head>

<div class="mx-auto w-[calc(100vw-4rem)] max-w-[calc(1400px-4rem)] space-y-4 py-4">
  <div class="flex items-center justify-between gap-2">
    <Button on:click={() => (createDialog.open = true)}>New URL</Button>
    {@render MultipleDeleteButton()}
  </div>
  <DataTable data={[...records]} bind:selectedDataIds />
</div>

<CreateDialog data={data.forms.create} bind:open={createDialog.open} bind:records />
<UpdateDialog data={data.forms.update} bind:open={updateDialog.open} bind:records />

{#snippet MultipleDeleteButton()}
  {#if selectedDataIds.length > 0}
    <form method="POST" action="?/delete">
      <input type="hidden" name="ids" value={selectedDataIds.join(',')} />
      <Button type="submit" variant="destructive">Delete</Button>
    </form>
  {/if}
{/snippet}
