<script lang="ts">
  import { superForm, type Infer, type SuperValidated } from 'sveltekit-superforms';
  import { zodClient } from 'sveltekit-superforms/adapters';
  import { createSchema, type CreateSchema } from './schema.js';

  import { Accordion, AccordionContent, Item, Trigger } from '$lib/components/ui/accordion';
  import { Button } from '$lib/components/ui/button';
  import { DatePicker, DatePickerInput } from '$lib/components/ui/date-picker';
  import { Content, Description, Dialog, Footer, Header, Title } from '$lib/components/ui/dialog';
  import { Control, Field, FieldErrors, Label } from '$lib/components/ui/form';
  import { Input } from '$lib/components/ui/input';

  interface Props {
    data: SuperValidated<Infer<CreateSchema>>;
    open: boolean;
    records: any[];
  }

  let { data, open = $bindable(false), records = $bindable() }: Props = $props();

  const form = superForm(data, {
    id: 'createForm',
    onResult: ({ result }) => {
      if (result.type === 'success') {
        records.push(result.data?.data);
        open = false;
      }
    },
    resetForm: true,
    validators: zodClient(createSchema)
  });

  const { form: formData, enhance } = form;
</script>

<Dialog bind:open>
  <Content>
    <form method="POST" action="?/create" use:enhance>
      <Header>
        <Title>Create New URL</Title>
        <Description>Shorten a long URL</Description>
      </Header>

      <Field {form} name="url">
        <Control let:attrs>
          <Label>Long URL</Label>
          <Input type="text" {...attrs} bind:value={$formData.url} />
        </Control>
      </Field>

      <Field {form} name="alias">
        <Control let:attrs>
          <Label>Alias</Label>
          <Input type="text" {...attrs} bind:value={$formData.alias} />
        </Control>
      </Field>

      {@render MoreOptionsComponent()}

      <Footer>
        <Button type="submit">Create</Button>
      </Footer>
    </form>
  </Content>
</Dialog>

{#snippet MoreOptionsComponent()}
  <Accordion>
    <Item class="border-0" value="more">
      <Trigger>More options</Trigger>
      <AccordionContent>
        <Field {form} name="dateStart">
          <Control let:attrs>
            <DatePicker
              onValueChange={(value) => {
                if (value) {
                  $formData.dateStart = new Date(value.toString());
                } else {
                  $formData.dateStart = undefined;
                }
              }}
            >
              <Label>Start Date</Label>
              <DatePickerInput class="mt-2" />
            </DatePicker>
            <input type="hidden" {...attrs} bind:value={$formData.dateStart} />
          </Control>
          <FieldErrors />
        </Field>

        <Field {form} name="dateExpires">
          <Control let:attrs>
            <DatePicker
              onValueChange={(value) => {
                if (value) {
                  $formData.dateExpires = new Date(value.toString());
                } else {
                  $formData.dateExpires = undefined;
                }
              }}
            >
              <Label>Date Expires</Label>
              <DatePickerInput class="mt-2" />
            </DatePicker>
            <input type="hidden" {...attrs} bind:value={$formData.dateExpires} />
          </Control>
          <FieldErrors />
        </Field>
      </AccordionContent>
    </Item>
  </Accordion>
{/snippet}
