<script lang="ts">
  import { superForm } from 'sveltekit-superforms';
  import { zodClient } from 'sveltekit-superforms/adapters';
  import { loginSchema } from '../schema.js';

  import { Button, Control, Field, FieldErrors, Label } from '$lib/components/ui/form';
  import { Input } from '$lib/components/ui/input';

  export let data;

  const form = superForm(data.form, {
    validators: zodClient(loginSchema)
  });

  const { form: formData, enhance } = form;
</script>

<svelte:head>
  <title>Login</title>
</svelte:head>

<div class="mx-auto w-full max-w-sm p-4">
  <h1 class="mb-6 text-center text-2xl font-bold uppercase">Login</h1>
  <form method="POST" use:enhance>
    <Field {form} name="email">
      <Control let:attrs>
        <Label>Email address</Label>
        <Input type="email" {...attrs} bind:value={$formData.email} />
      </Control>
      <FieldErrors />
    </Field>
    <Field {form} name="password">
      <Control let:attrs>
        <Label>Password</Label>
        <Input type="password" {...attrs} bind:value={$formData.password} />
      </Control>
      <FieldErrors />
    </Field>
    <Button class="mt-2 w-full">Login</Button>
  </form>
</div>
