<script lang="ts">
  import { Checkbox } from '$lib/components/ui/checkbox';
  import type { Writable } from 'svelte/store';
  import type { CheckboxProps } from 'bits-ui';

  interface Props extends Omit<CheckboxProps, 'checked'> {
    checked: Writable<boolean>;
  }

  let { checked, ...restProps }: Props = $props();
</script>

<Checkbox bind:checked={$checked} {...restProps} />
