<script lang="ts">
  import { getContext } from 'svelte';
  import { enhance } from '$app/forms';

  import { Button } from '$lib/components/ui/button';
  import { Content, DropdownMenu, Group, Item, Trigger } from '$lib/components/ui/dropdown-menu';
  import DotsHorizontalIcon from 'svelte-radix/DotsHorizontal.svelte';
  import PencilIcon from 'svelte-radix/Pencil1.svelte';
  import TrashIcon from 'svelte-radix/Trash.svelte';

  // TODO: improve typing
  interface Props {
    data: Record<string, unknown>;
  }

  let { data }: Props = $props();

  let dialog = getContext<{ open: boolean; data: Record<string, unknown> }>('createDialog');
</script>

<DropdownMenu>
  <Trigger asChild let:builder>
    <Button variant="ghost" builders={[builder]} size="icon" class="size-8">
      <span class="sr-only">Open menu</span>
      <DotsHorizontalIcon size="16" />
    </Button>
  </Trigger>
  <Content align="end">
    <Group>
      <Item class="p-0">
        <button
          type="button"
          class="inline-flex size-full items-center gap-2 px-2 py-1.5"
          onclick={() => {
            dialog.open = true;
            dialog.data = data;
          }}
        >
          <PencilIcon size="16" />
          Edit
        </button>
      </Item>
      <Item class="p-0">
        <form
          method="POST"
          action="?/delete"
          class="contents"
          use:enhance={({ formData }) => {
            // TODO: implement delete action
            // records.filter((item) => item.id !== formData.get('id'));
          }}
        >
          <input type="hidden" name="id" value={data.id} />
          <button
            type="submit"
            class="inline-flex size-full items-center gap-2 px-2 py-1.5 text-left"
          >
            <TrashIcon size="16" />
            Delete
          </button>
        </form>
      </Item>
    </Group>
  </Content>
</DropdownMenu>
