<script lang="ts">
  import { writable } from 'svelte/store';
  import { createRender, createTable, Render, Subscribe } from 'svelte-headless-table';
  import { addSelectedRows } from 'svelte-headless-table/plugins';
  import { cn } from '$lib/utils';
  import type { DataRecord } from '../types.js';

  import { Body, Cell, Head, Header, Row, Table } from '$lib/components/ui/table';

  import DataTableActions from './data-table-actions.svelte';
  import DataTableAnchor from './data-table-anchor.svelte';
  import DataTableCheckbox from './data-table-checkbox.svelte';
  import DataTableCheckboxStore from './data-table-checkbox-store.svelte';
  import DataTableDatetime from './data-table-datetime.svelte';
  import DataTableText from './data-table-text.svelte';

  interface Props {
    data: DataRecord[];
    selectedDataIds: string[];
  }

  let { data, selectedDataIds = $bindable() }: Props = $props();

  const dateTimeFormat = new Intl.DateTimeFormat('en-us', {
    dateStyle: 'short',
    timeStyle: 'short'
  });

  const dataStore = writable(data);

  $effect(() => {
    dataStore.set(data);
  });

  const table = createTable(dataStore, {
    select: addSelectedRows()
  });

  const columns = table.createColumns([
    table.column({
      accessor: 'id',
      header: (_, { pluginStates }) => {
        const { allPageRowsSelected } = pluginStates.select;
        return createRender(DataTableCheckboxStore, { checked: allPageRowsSelected });
      },
      cell: ({ row }, { pluginStates }) => {
        const { getRowState } = pluginStates.select;
        const { isSelected } = getRowState(row);
        return createRender(DataTableCheckboxStore, { checked: isSelected });
      }
    }),
    table.column({
      accessor: 'created',
      header: 'DATE CREATED',
      cell: ({ value }) => createRender(DataTableDatetime, { value })
    }),
    table.column({
      accessor: 'url',
      header: 'URL',
      cell: ({ value }) => createRender(DataTableAnchor, { href: value })
    }),
    table.column({
      accessor: 'alias',
      header: 'ALIAS',
      cell: ({ value }) => createRender(DataTableText, { value })
    }),
    table.column({
      accessor: 'active',
      header: 'ACTIVE',
      cell: ({ value }) => createRender(DataTableCheckbox, { checked: value })
    }),
    table.column({
      accessor: 'dateStart',
      header: 'DATE START',
      cell: ({ value }) => (value ? dateTimeFormat.format(new Date(value)) : '')
    }),
    table.column({
      accessor: 'dateExpires',
      header: 'DATE EXPIRES',
      cell: ({ value }) => (value ? dateTimeFormat.format(new Date(value)) : '')
    }),
    table.column({
      accessor: ({ id, url, alias, dateStart, dateExpires }) => ({
        id,
        url,
        alias,
        dateStart,
        dateExpires
      }),
      header: '',
      cell: ({ value }) => createRender(DataTableActions, { data: value })
    })
  ]);

  const { headerRows, pageRows, pluginStates, tableAttrs, tableHeadAttrs, tableBodyAttrs } =
    table.createViewModel(columns);

  $effect(() => {
    const unsubscribe = pluginStates.select.selectedDataIds.subscribe((dataIds) => {
      const rows = Object.keys(dataIds);
      let ids = [] as string[];

      for (let i = 0; i < rows.length; i++) {
        const item = data.at(+rows[i]);
        if (item) ids.push(item.id);
      }
      selectedDataIds = ids;
    });

    return () => {
      unsubscribe();
    };
  });
</script>

<div class="rounded-md border">
  <Table {...$tableAttrs} class="min-w-[40rem]">
    <Header {...$tableHeadAttrs}>
      {#each $headerRows as headerRow}
        <Subscribe rowAttrs={headerRow.attrs()} let:rowAttrs>
          <Row {...rowAttrs}>
            {#each headerRow.cells as cell (cell.id)}
              <Subscribe attrs={cell.attrs()} let:attrs props={cell.props()}>
                <Head {...attrs}>
                  <Render of={cell.render()} />
                </Head>
              </Subscribe>
            {/each}
          </Row>
        </Subscribe>
      {/each}
    </Header>
    <Body {...$tableBodyAttrs}>
      {#if data.length === 0}
        <Row>
          <Cell colspan={8} class="h-24">
            <p class="grid place-items-center text-muted-foreground">No records found</p>
          </Cell>
        </Row>
      {:else}
        {#each $pageRows as pageRow (pageRow.id)}
          <Subscribe rowAttrs={pageRow.attrs()} let:rowAttrs>
            <Row {...rowAttrs}>
              {#each pageRow.cells as cell (cell.id)}
                <Subscribe attrs={cell.attrs()} let:attrs>
                  {@const id = cell.id}
                  <Cell
                    {...attrs}
                    class={cn(
                      'w-0 whitespace-nowrap',
                      id === 'url' && 'w-1/3 max-w-1 truncate',
                      id === 'alias' && 'w-1/5 max-w-1 truncate'
                    )}
                  >
                    <Render of={cell.render()} />
                  </Cell>
                </Subscribe>
              {/each}
            </Row>
          </Subscribe>
        {/each}
      {/if}
    </Body>
  </Table>
</div>
