<script lang="ts">
  import type { HTMLAnchorAttributes } from 'svelte/elements';

  let { href }: HTMLAnchorAttributes = $props();
</script>

<a
  {href}
  target="_blank"
  rel="nofollow noopener noreferrer"
  class="text-blue-500 transition-colors hover:text-blue-600 hover:underline"
>
  {href}
</a>
