<script lang="ts">
  import { Checkbox } from '$lib/components/ui/checkbox';
  import type { CheckboxProps } from 'bits-ui';

  let { checked, ...restProps }: CheckboxProps = $props();
</script>

<Checkbox bind:checked {...restProps} />
