<script lang="ts">
  import { format, formatDistanceToNow, toDate } from 'date-fns';

  interface Props {
    value: string;
  }

  let { value }: Props = $props();
</script>

<div>
  <p>{format(toDate(value), 'MMM dd, yyyy')}</p>
  <p class="block text-xs text-muted-foreground">
    {formatDistanceToNow(new Date(value))} ago
  </p>
</div>
